.farm-background {
    background: url("../assets/images/farm-background.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    position: flex;
    min-height: 100%;

    .farm {
        display: flex;
    }
    .shopTool {
        display: flex;
    }
}
